.catalogSideBar {
  width: 360px;
}

.searchSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
  input {
    color: var(--Gray, #6c717b);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    display: flex;
    width: 360px;
    height: 56px;
    padding: 18px 285px 18px 18px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
    border: none;
    background: var(--Inputs, #f7f7f7);
    padding: 16px 16px 16px 48px;
  }
}
.filterWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

.pFilters {
  color: var(--Text, #475467);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.filterSection {
  ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 12px;
    border-top: #dadde1 1px solid;
    margin-top: 24px;
    padding-top: 24px;
  }
  li {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid var(--Gray-light, #dadde1);
    mix-blend-mode: multiply;
    width: 112px;
    padding: 16px 18px;
    align-items: center;
    font-weight: 500;
    color: var(--Main, #101828);
    text-align: center;
    gap: 8px;
    width: 112px;
    justify-content: center;
  }
  svg {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
  }
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputIcon {
  position: absolute;
  left: 16px;
  width: 20px;
  height: 20px;
  fill: var(--Gray, #6c717b);
  pointer-events: none;
}

.specificLi {
  height: 96px;
}

.activeFilter {
  border: 1px solid #e44848 !important;
}
.activeTextAndIcon {
  color: var(--Main, #101828) !important;
}

.inputWrapper .inputIcon {
  fill: var(--Main, #101828) !important;
}
