.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ul {
  display: flex;
  font-display: row;
  gap: 32px;
}

.logo {
  margin-right: 450px;
}

.activeLink {
  color: var(--Button-Hover, #d84343);
}
