.FeaturesWrapper {
  display: flex;
  width: 631px;
  padding: 44px 80px;
  flex-direction: column;
  gap: 100px;
  border-radius: 10px;
  background: var(--Inputs, #f7f7f7);
}

.vehicleEquipmentList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.vehicleEquipmentItem {
  display: flex;
  padding: 12px 18px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--Badges, #f2f4f7);
  mix-blend-mode: multiply;
  color: var(--Main, #101828);
  font-weight: 500;
  svg {
    height: 20px;
    width: 20px;
  }
}

.detailsWrapper {
  h3 {
    border-bottom: 1px solid #dadde1;
    padding-bottom: 24px;
  }
  ul {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--Main, #101828);
    font-size: 16px;
    font-weight: 500;
    p {
      color: var(--Main, #101828);
      font-size: 16px;
      font-weight: 500;
    }
  }
}
