.formWrapper {
  display: flex;
  width: 641px;
  padding: 44px;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  border-radius: 10px;
  border: 1px solid var(--Gray-light, #dadde1);
  position: relative;
  button {
    width: 166px;
    margin-top: 24px;
  }
}

.mainInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  input {
    border-radius: 10px;
    border: none;
    background: var(--Inputs, #f7f7f7);
    padding: 18px;
    color: var(--Gray, #6c717b);
    /* Body */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
}

textarea {
  resize: none;
  height: 118px;
  border-radius: 10px;
  border: none;
  background: var(--Inputs, #f7f7f7);
  padding: 18px;
  color: var(--Gray, #6c717b);
  /* Body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.notification {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(144, 238, 144, 0.422);
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  border: 1px solid #00cc00;
  color: #008800;
  text-align: center;
}
